venv/
__pycache__/
*.py[cod]

.env
.venv/

*.log
mobile/node_modules/
mobile/.expo/
.android-build-tools/

# Ignore local dataset and generated artifacts
teaLeafBD/
features/*.npy
models/*.pkl
results/
